body {
  background-color: #000;
  background-image: url("chapterb.jpg");
  background-size: auto; /* Background changes size based on the size of the file */
/*   background-position: top center;  */
}
